body{
  background-color: #22100C;
  color: #BDC3C7;
  line-height: 1.3;
}

img{
  width: 100%;
}

h1{
  font-family: 'Vollkorn', serif;
  font-size: 80px;
  color: #6C0A0A;
}

p{
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}
